body {
    font-family: Arial, sans-serif;
    padding: 20px;
}

.checklist {
    list-style: none;
    padding: 0;
}

.checklist li {
    padding-left: 30px;
    background-image: url('unchecked.png');
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 20px 20px;
    margin: 10px 0;
}

.checklist li.checked {
    background-image: url('f');
}