body {
    font-family: Verdana;
    font-size: 1.1em;
    background-color: silver;
    color: darkblue;
}

h1 {
    font-variant: small-caps;
    background-color: red;
}

a:hover {
    border: 2px solid darkblue;
    padding: 2px;
}

.stippeltjesrand {
    border: 1px dotted black;
}
a {
    padding-left: 20px;
    background-image: url('icon.png');
    background-repeat: no-repeat;
    background-position: left center;
}